#-- Docker ----------
dockerfiles
!.dockerignore

#-- Editor Configs ----------
.idea

#-- Git ----------
.git
!.gitignore
!.keep

#-- Scripts ----------
scripts

#-- Secrets ----------
configs/secrets

#-- State files ----------
.state

